
container {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
body {
	background-image:linear-gradient(#950740, black);
}

header {
	font-family:Times new roman, Arial, sans-serif;
	margin-top: 0.2em;
	background-color: black;
	color: #FFFFFF;
	padding: 2%;
}
body h1{color:white; font-family:"italic" ;font-size:50px;
background-color:black;
border-radius:10px;
text-align:center;
  opacity:.9;
  font-style:oblique;
}
body h2{color:white; font-family:"italic" ;font-size:30px;
background-color:black;
border-radius:2px;
  opacity:.9;
  font-style:italic;
}
#welcome{
	
    background-image:linear-gradient(#950740, white);
	float: left;
	padding: 0.5%;
}
.input-container {
  display: auto;
  width: 100%;
  margin-bottom: 15px;
}

.flot {
  float: right;
}

h4{
	color:#741111;
	font-family:Arial,Times new roman, sans-serif;
}


.nav{
	overflow:auto;
	
	float:right;
}


.nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


div.a {
  text-align: center;
}
main {
	margin: 1%;
	padding: 1em;
	background-color: black;
	float: left;
	width:95%;
}
section{
	background-color: mintcream;
	margin-top:1%;
	width:96%;
	padding:2%;
	
}
aside{
	background-color:#C97575;
	width:98%;
	float:left;
	padding:1em;
	margin-top:1%;
	
	color:#FFFFFF;
}
.color{
	color:white;
}
.footer {
	font-size: 15px;
	text-align: center;
	clear: left;
	color:white;
	font-family:Times new roman,Arial,sans-serif;
	font-style:italic;
	margin-top: 0.4em;
	opacity:.9;
	background-color: black;
	
	padding: 14px 25px;
}
.footer a{
	color:white;
	font-family:italic;
	display:inline-block;
	padding: 14px 25px;
}






 

